@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;450;600;700&family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 228, 7%, 73%;
      --background-secondary: 250, 14%, 94%;
      --foreground: 232, 21%, 14%;

      --muted: 221, 14%, 82%;
      --muted-foreground: 220 8.9% 46.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --card: 221, 14%, 82%;
      --card-foreground: 224 71.4% 4.1%;
      --card-hover: 228, 7%, 73%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;

      /* --primary: 262.1 83.3% 57.8%; */
      --primary-foreground: 210 20% 98%;

      /* --secondary: 220 14.3% 95.9%; */
      --secondary-foreground: 220.9 39.3% 11%;

      /* --accent: 220 14.3% 95.9%; */
      --accent-foreground: 220.9 39.3% 11%;

      --premium: 45 100% 80%;
      --premium-foreground: 45 100% 30%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --ring: 262.1 83.3% 57.8%;

      --radius: 0.75rem;

      --text: 232, 21%, 14%;
      --background: 228, 10%, 90%;

      --primary: 231, 66%, 59%;

      --secondary: 221, 14%, 82%;

      --accent: 45, 100%, 20%;
   }

   .dark {
      /* --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%; */

      --scrollbar-track: 228, 14%, 14%;
      --scrollbar-thumb: 231, 14%, 35%;
      --scrollbar-hover: 231, 14%, 45%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --card: 228, 14%, 14%;
      --card-foreground: 210 20% 98%;
      --card-hover: 231, 13%, 10%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;

      --primary: 232, 50%, 70%;
      --primary-foreground: 210 20% 98%;

      /* --secondary: 215 27.9% 16.9%; */
      /* --secondary-foreground: 210 20% 98%; */

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --premium: 45 100% 80%;
      --premium-foreground: 45 100% 30%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --ring: 263.4 70% 50.4%;


      --background: 228, 14%, 14%;
      --background-secondary: 231, 14%, 18%;
      --foreground: 232, 21%, 86%;

      --primary: 232, 50%, 70%;
      --primary-foreground: 231, 52%, 5%;

      --secondary: 228, 7%, 27%;
      --secondary-foreground: 210, 8%, 95%;

      /* --premium: 228, 7%, 27%; */
      /* --premium-foreground: 240, 8%, 5%; */
   }
}
::selection {
    @apply bg-primary/40
}

/* ::-webkit-scrollbar {
   @apply bg-transparent size-[.6em]
}

::-webkit-scrollbar-track {
   @apply bg-scrollbar-track
}

::-webkit-scrollbar-thumb {
   @apply bg-scrollbar-thumb rounded-full
}

::-webkit-scrollbar-thumb:hover {
   @apply bg-scrollbar-hover
} */

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground w-screen min-h-screen overflow-x-hidden p-0 h-full mx-auto scroll-smooth;
   }
   #app {
      @apply h-full min-h-screen;
   }
}

html {
   font-family: 'Figtree', sans-serif;
}

* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
   text-wrap: balance;
}

p {
   text-wrap: pretty;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 0.1em 0 0.25em;
   vertical-align: -0.1em;
   display: inline-block;
   row-gap: 4px;
}

img.emoji ~ img.emoji {
   margin: 0 0.125em 0 0.1em;
}

img.emoji:not(:last-of-type) {
   margin: 0 0.125em 0 0.1em;
}

.fade {
   opacity: 0;

   @media (prefers-reduced-motion) {
      opacity: 1;
      animation: none;
   }
}

.reveal {
   opacity: 0;
   transform: translateY(40px);

   @media (prefers-reduced-motion) {
      transform: translateY(0px);
      opacity: 1;
      animation: none;
   }
}

.scaleFade {
   opacity: 0;
   transform: scale(0.75);

   @media (prefers-reduced-motion) {
      transform: scale(1);
      opacity: 1;
      animation: none;
   }
}
